$MainColor: #6B1820;;
$ComplementMainColor: #C4C298;
$DetailsColor: #B83C47;
$ContrastColor: #1E6285;
$ShadowContrastColor: #1D516B;
$BlandPink: #ebe0e8;
$BlandPurple: #ccc2cd;
$GreyishGreen: #81a291;
$GreyishLightGreen: #a2bfa0;
$LemonadeGreen: #d2e6c1;
$LightGreen: #dbe7d9;
$CreamYellow: #fffdf4;