@tailwind preflight;
@tailwind utilities;


@import "_vars.scss";

* {
    box-sizing: border-box;

}

[class*="col-"] {
    width: 100%;
}
/*
@font-face{
	font-family: caviarDreams;
	src: url(../static/fonts/caviarDreams/CaviarDreams.ttf);
}*/

@media only screen and (min-width: 768px) {

	.col-1 {
		width: 8.33%;
	}
	.col-2 {
		width: 16.66%;
	}
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.33%;
	}
	.col-5 {
		width: 41.66%;
	}
	.col-6 {
		width: 50%;
	}
	.col-7 {
		width: 58.33%;
	}
	.col-8 {
		width: 66.66%;
	}
	.col-9 {
		width: 75%;
	}
	.col-10 {
		width: 83.33%;
	}
	.col-11 {
		width: 91.66%;
	}
	.col-12 {
		width: 100%;
	}

}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

@media only screen and (min-width: 600px) and (max-width: 768px) {

    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    
}

.menuVerticalContainer {
	float: left;
	background-color: $MainColor;
	height: 90vh;
	border-style: none;
	width: 33.33vh;
	padding-left:0;
}

.menuVerticalContainer li {
	float: left;
	list-style-type: none;
	text-align: left;
	font-size: 20px;
	border-style: none none none none;
	padding-left:0;
}

.menuVerticalContainer ul {
	border-style: none;
	padding-left: 0;
}

.headerContainer {
	background-color: $MainColor;
	border-style: none;
	padding-top: 0%;
	padding-bottom: 0%;
	padding-right: 4%;
	padding-left: 2%;
	position: relative;
	align-content: center;
	height: 5.5vh;
	padding-right: 16.66%;
	padding-left: 16.66%;
}

html, body{
	height: 100%;
}

.footerContainer {
	background-color: $MainColor;
	position: fixed;
	border-style: none;
    left: 0;
    bottom: 0;
	width: 100%;
	padding-top: 0%;
	padding-right: 16.66%;
	padding-left: 16.66%;
	padding-bottom: 0%;
	height: 200px;
}

.logoImplicare {
	height: 4vh;
	position: absolute;
	top: 0.8vh;
}

.headerDivImg{
	border-style: none;
	height: 5.5vh;
}

.divSeparacao{
	vertical-align: bottom;
	border-style: none;
	height: 5.5vh;
}

.headerDivSearchBar{
	border-style: none;
	height: 5.5vh;
}

.inputSearch{
	height: 3.2vh;
	width: 15vw;
	padding-left: 10px;
	background-color: $BlandPurple;
	opacity: 0.3;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.title{
	color: $BlandPink;
	padding-left: 3vw;
	position: absolute;
	top: 0.8vh;
}

.footerContent{
	color: $BlandPink;
}

.botaoPesquisa{
	height: 3.2vh;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	padding-left: 10px;
	background-color: $BlandPurple;
	opacity: 0.3;
	//background-image: url(../static/icons/userInterface/085-magnifying-glass.png);
}

.formSearch{
	position: absolute;
	top: 1vh;
}

.menuButton{
	height: 2.8vh;
	padding-left: 2vw;
	position: absolute;
	top: 1.3vh;
}

.headerDivMenu{
	border-style: none;
	height: 5.5vh;
}

.botaoMenu{
	height: 5vh;
	width: 33vh;
	align-content: left;
	padding-left: 2vh;
	text-align: left;
	color: $BlandPink;
}

.footerDiv {
	border-style: none;
}