@tailwind preflight;
@tailwind utilities;


@import "_vars.scss";

* {
    box-sizing: border-box;

}

[class*="col-"] {
    width: 100%;
}
/*
@font-face{
	font-family: caviarDreams;
	src: url(../static/fonts/caviarDreams/CaviarDreams.ttf);
}*/

@media only screen and (min-width: 768px) {

	.col-1 {
		width: 8.33%;
	}
	.col-2 {
		width: 16.66%;
	}
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.33%;
	}
	.col-5 {
		width: 41.66%;
	}
	.col-6 {
		width: 50%;
	}
	.col-7 {
		width: 58.33%;
	}
	.col-8 {
		width: 66.66%;
	}
	.col-9 {
		width: 75%;
	}
	.col-10 {
		width: 83.33%;
	}
	.col-11 {
		width: 91.66%;
	}
	.col-12 {
		width: 100%;
	}

}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

@media only screen and (min-width: 600px) and (max-width: 768px) {

    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    
}

.menuVerticalContainer {
	float: left;
	background-color: $CreamYellow;
	padding: 1px;

	border: 1px;
}

.menuVerticalContainer li {
	float: left;

	list-style-type: none;
	text-align: left;
	font-size: 20px;
	border-style: none none none none;
	height: 30vh;

}

.menuVerticalContainer ul {
	border-style: none;
	padding: 0px;
}

.headerContainer {
	background-color: $CreamYellow;
	border-style: none;
	padding-top: 0%;
	padding-bottom: 0%;
	padding-right: 4%;
	padding-left: 2%;
	align-content: bottom;
	position: relative;
	align-content: center;
}

html, body{
	height: 100%;
}

.footerContainer {
	background-color: $LemonadeGreen;
	position: fixed;
	border-style: none;
    left: 0;
    bottom: 0;
	width: 100%;
	padding-top: 0%;
	padding-right: 8.33%;
	padding-left: 8.33%;
	padding-bottom: 0%;
	height: 200px;
}

.logoImplicare {
	width: 110px;
}

.headerDivTitulo, .headerDivImg{
	vertical-align: bottom;
	border-style: none;
	height: 100%;
}

.footerDiv {
	
	border-style: none;
}